.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

header {
  font-family: 'Open-sans', cursive;
  background-color: rgb(104, 36, 36);
  margin-top: 30px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  background-image: url('../img/logofinal.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.header__atr-project,
.header__atr-us {
  font-size: 20px;
  text-decoration: none;
  color: rgb(245, 237, 237);
  display: inline-block;
}

.header__atr-us {
  padding: 0 15px;
}

.header__name {
  padding-left: 10px;
  color: rgb(245, 237, 237);
}

.nav-closed {
  display: none;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../img/menu.png');
  background-size: contain;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__right {
    flex-direction: row;
  }

  nav a {
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-closed {
    display: block;
  }

  .nav-btn {
    display: none;
  }
}
