.AboutUs {
  display: flex;
  flex-direction: column;
}

#aboutUs {
  background: linear-gradient(rgba(211, 203, 203, 0.2), rgba(0, 0, 0, 0.9));
  background-image: url('../img/tuzky2.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 50% 100%;
  align-items: center;
  padding-bottom: 200px;
}

.aboutUs__title {
  color: black;
  padding: 10px 0;
  margin: 0 5px;
  text-align: center;
  background-color: #72a98f;
}

.aboutUs__about {
  display: flex;
  padding: 0 45px;
  padding: 30px 45px 0 45px;
  margin: 0 0 25px 0;
}

.aboutUs__about--Zuzana {
  padding-right: 30px;
  text-align: justify;
}

.aboutUs__about--Zuzana--header {
  display: flex;
  flex-direction: column;
}

.aboutUs__about--Zuzana--foto {
  background-image: url('../img/Zuzka.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  justify-content: center;
}

.aboutUs__about--Jana {
  padding-left: 25px;
  text-align: justify;
}

.aboutUs__about--Jana--header {
  display: flex;
  flex-direction: column;
}

.aboutUs__about--Jana--foto {
  background-image: url('../img/Jana.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .aboutUs__about {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    margin: 0 0 25px 0;
  }

  .aboutUs__about--Jana {
    padding-left: 0;
    text-align: justify;
  }

  .aboutUs__about--Zuzana {
    padding-top: 20px;
    padding-right: 0px;
    text-align: justify;
  }

  #aboutUs {
    padding: 0;
    background-image: none;
  }

  p {
    font-size: 20px;
  }

  .aboutUs__about--Jana--header {
    display: flex;
    align-items: center;
  }

  .aboutUs__about--Zuzana--header {
    display: flex;
    align-items: center;
  }
}
