/.AboutUs {
  display: flex;
  flex-direction: column;
}

.About {
  display: flex;
  padding: 0 45px;
  margin: 0 0 25px 0;
}

.titleAbout {
  color: black;
  padding: 10px 0;
  margin: 0 5px;
  text-align: center;
  background-color: #ffc0cb;
}

#aboutUs {
  background: linear-gradient(rgba(211, 203, 203, 0.2), rgba(0, 0, 0, 0.9));
  background-image: url('../img/tuzky2.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 50% 100%;
  align-items: center;
  padding-bottom: 200px;
}

.fotoZuzana {
  background-image: url('../img/Zuzka.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  justify-content: center;
}

.fotoJana {
  background-image: url('../img/Jana.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.fotoJmenoZuzana {
  display: flex;
  flex-direction: column;
}

.fotoJmenoJana {
  display: flex;
  flex-direction: column;
}

.AboutZuzana {
  padding-right: 30px;
  text-align: justify;
}

.AboutJana {
  padding-left: 25px;
  text-align: justify;
}
