.aboutProject {
  font-family: 'Open-sans';
}

.aboutProject__section1--mainInfo {
  padding: 30px 35px 100px 35px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/imageFoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  align-items: center;
  color: white;
  text-align: center;
}

.aboutProject__section1--mainInfo--title {
  text-align: center;
  font-size: 50px;
}

.aboutProject__section1--mainInfo--par {
  font-size: 30px;
  padding: 0;
}

.aboutProject__section1--message {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: #fcb97d;
  color: black;
  font-size: 30px;
}

.aboutProject__section2 {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
  margin: 25px 0;
}

.aboutProject__section2--forCompanies {
  text-align: justify;
  font-size: 20px;
}

.aboutProject__section2--forSchools {
  text-align: justify;
  font-size: 20px;
}

.aboutProject__section2--title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .aboutProject__section1--mainInfo {
    padding: 50px 150px 350px 150px;
    background: url('../img/imageFoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    align-items: center;
    color: white;
  }

  .aboutProject__section1--mainInfo:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../img/imageFoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .aboutProject__section2 {
    display: flex;
    flex-direction: row;
  }

  .aboutProject__section2--forCompanies {
    flex-direction: row;
    padding: 15px 40px 15px 15px;
    flex-basis: 50%;
    font-size: 20px;
  }

  .aboutProject__section2--forSchools {
    flex-direction: row;
    padding: 15px 15px 15px 15px;
    flex-basis: 50%;
    font-size: 20px;
  }
}

/*
přidat gradietn na fotku, ať se to dá číst
odsazení udělat pomocí rodiče a dítěte (ne pomocí paddingu), to by nám pak nefungovalo u mobilů... připnout jak tu botu tenkrát...*/
